@font-face {
	font-family: 'Conv_Exo2.0-Thin';
	src: url('fonts/Exo2.0-Thin.eot');
	src: local('☺'), url('fonts/Exo2.0-Thin.woff') format('woff'), url('fonts/Exo2.0-Thin.ttf') format('truetype'), url('fonts/Exo2.0-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  height: 100vh;
  position: relative;
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;

  background:url("/img/Background.png");
}

.container{
  position: absolute;
  width: 100%;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .container{
    top: 15px;
    transform:translateY(0);
    padding-bottom: 15px;
  }
}

a {
  color: #1698D9;
  text-decoration: none; /* Убираем подчеркивание */
  border-bottom: 1px dashed #1698D9; /* Добавляем свою линию */
}

h1 {
  font-family: 'Exo2.0-Thin' , sans-serif;
  font-style:normal;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  text-align: center;

  padding-top: 28px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px #000000;
}

h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height */


  color: #000000;

  padding-top: 5px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #000000;

}

/*дизайн карточек с кормом*/
.items {
  max-width: 1280px;
  display: flex;
  margin: auto;
  box-sizing: border-box;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 2px 40px 0 40px;
}

.item {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.item:hover .item__border , .item:hover .weight{
  background-color: #2EA8E6;
}



.item__border {
  margin:14px;
  position: relative;
  width: 320px;
  height: 480px;
  background-color: #1698D9;
  border-radius: 12px;
  clip-path: polygon(13.5% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
}

.item__box {
  display: flex;
  position: absolute;
  top: 4px; /* соответствует ширине border */
  left: 4px; /* соответствует ширине border */
  width: 312px; /* container width - (ширина border * 2) */
  height: 472px; /* container height - (ширина border * 2) */

  border-radius: 9px;
  clip-path: polygon(13.1% 0, 100% 0, 100% 100%, 0 100%, 0 8.8%);
  
  box-sizing: border-box;
  
  background:#f2f2f2 url("/img/Cat.png") no-repeat bottom;
}

.box__title {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  margin-left: 46px;
  margin-top: 18px;
}

.box__desc {
  padding-top: 15px;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
}


.weight {
  display: flex;
  flex-direction: column;
  position: absolute;

  margin: 380px 16px 16px 220px ;  
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1698D9;
  color: #FFFFFF;

}

.weight-value {
  padding-top: 20px;
  align-items: center;
  font-size: 42px;
  line-height: 22px;
  /* identical to box height, or 52% */

 
  text-align: center;
}

.weight-unit {
  font-size: 21px;
  line-height: 22px;
  /* or 52% */

  text-align: center;
  padding-top: 8px;
}

/* } */

.item__link , .item__desc {
  display: flex;
  margin: auto;
  font-size: 13px;
  text-align: center;

  color: #FFFFFF;

}

.item__desc{
  display: none;
}